.Sefu{
    font-size: 1.25em;
}
/* Seful este in totdeauna pe primul loc */
.Ion{
    font-size: 1.25em;
}
.Narator{
    font-size: 1.25em;
}
.CSoon{
    font-size:1.25em;
    text-align-last: end;
}

  
